body{
    margin: 0;
}
.Heading{
    background-color: #131a31;
    height: 120px;
    margin: 0;
    display: flex;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.5s ease;
}
.headofweb{
    color: white;
    padding-top: 20px;
    padding-left: 150px;
    margin-top: 20px;
}
.Contents ol{
    list-style:none;
    display:flex;
    justify-content:center; 
    gap:40px;
    margin-left:200px;
    padding:35px;
}
.Contents a{
    text-decoration:none;
    color:#8E9AAF;
    font-size:18px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}

.Contents a:hover{
    color:aliceblue;
}
.order{
    height: 20px;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    background-color: #19254e;
    margin-left:200px;
    margin-top: 40px;
    font-size:18px;
    font-weight:bold;
    text-align: center;
    align-items: center;
    border: 1px solid #38bdf8;
}
.order a{
    text-decoration: none;
     color: white;
}
.order:hover{
    background: linear-gradient(to right,#00C4CC, #7D2AE7);
}
#home{
    background-color: #111a36;
    height: 500px;
    padding-top: 120px;
    display: flex;
    margin-bottom: 0;
    
}
.editionbox{
    margin-top:80px;
    margin-left:150px;
    height: 30px;
    width: 180px;
    background-color: #171C4A;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid #7B2FF7;
    color: #C86BFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600p;
}
.head1{
    margin-top: 30px;
    margin-left:150px;
    font-size: 50px;
    font-weight: 1000;
    color: whitesmoke;
    margin-bottom: 5px;
}
.Store{
    margin-left:150px;
    font-size: 50px;
    font-weight: 1000;
    color: whitesmoke;
    margin-top: 0;
    background: linear-gradient(to right,#00C4CC, #7D2AE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.details{
    margin-left:150px;
    font-family: 'Poppins', sans-serif;
    color:#8E9AAF;
    font-size: 20px;
    line-height: 1.5;
    
}
.Shopping{
    display: flex;
    gap: 25px;
    margin-left:150px;
    
}
.shopnow{
    height: 20px;
    width: 90px;
    padding: 15px;
    background-color: #7c86a5;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to right,#00C4CC, #7D2AE7);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.8s ease;
    text-decoration: none;
    margin-top: 15px;
    
}

.shopnow:hover{
    transform: scale(1.1);
    box-shadow: 
    0 0 10px #00C4CC,
    0 0 20px #7D2AE7,
    0 0 40px #7D2AE7;

    transform: translateY(-5px);
}
.specbutton{
    height: 20px;
    width: 100px;
    background-color: #19254e;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.8s ease;
    text-decoration: none;
    margin-top: 15px;
}
.specbutton:hover{
    transform: scale(1.1);
    border: 1px solid #38bdf8;
}
.mainimage{
    height: 350px;
    width: 350px;
    text-align: center;
    align-items: center;
    margin-top: 110px;
    margin-left: 250px;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #00C4CC);
}
@keyframes float{
    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}
#Laptops{
    background-color: #111a36;
    height: 900px;
    padding-top: 1px;
    
}
.Laptopshead{
    color: white;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    margin-left: 600px;

}
.lappara{
    margin: 0;
    text-align: center;
    color:#8E9AAF;
    font-size: 25px;
}
.Products{
    margin-top: 50px;
    display: flex;
    gap: 60px;
    margin-left: 160px;
    flex-wrap: wrap;
}
.Products img{
    height: 200px;
    width: 200px;
    padding-left: 70px;
    margin-top: 30px;
}
.productcontainer{
    height: 550px;
    width: 350px;
    border-radius: 20px;
    background-color: #161F43;
    transition: 0.8s ease;
    cursor: pointer;
    
}
.theme{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.theme1img1{
    height: 20px;
    width: 100px;
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #607077;
    color: #38bdf8;
    font-size: 15px;
    font-weight: 1000;
    border: 1px solid #38bdf8;
}
.theme2img1{
    height: 20px;
    width: 120px;
    background-color: rgb(239, 214, 239);
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
}
.theme1img2{
    height: 15px;
    width: 100px;
    background-color: rgb(254, 233, 194);
    padding: 4px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 1000;
    border: 1px solid orange;
    color: orange;
    align-items: center;
}
.theme2img2{
    height: 15px;
    width: 120px;
    background-color: rgb(239, 214, 239);
    padding: 4px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center; 
    font-size: 13px;
    font-weight: 1000;
    background-color: rgb(218, 178, 178);
    color: red;
    border: 1px solid red;
}
.theme1img3{
    height: 20px;
    width: 100px;
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #607077;
    color: #38bdf8;
    font-size: 15px;
    font-weight: 1000;
    border: 1px solid #38bdf8;
}
.theme2img3{
    height: 20px;
    width: 120px;
    background-color: rgb(239, 214, 239);
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight:1000;
}
.productcontainer:hover{
    transform: scale(1.1);
    box-shadow:
    0 0 10px #00C4CC,
    0 0 20px #7D2AE7,
    0 0 40px #7D2AE7;
    
}
.productcontainer:hover .productname{
    background: linear-gradient(to right,#00C4CC,#7D2AE7);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.productname{
    margin-left: 25px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.para{
    margin-left: 25px;
    color:#8E9AAF;
    
}
.line1{
    width: 100%;
    border-top: 1px solid #2a335f;
    margin-top: 60px;
    margin-bottom: 5px;
}
.line2{
    width: 100%;
    border-top: 1px solid #2a335f;
    margin-top: 45px;
    margin-bottom: 5px;
}
.line3{
    width: 100%;
    border-top: 1px solid #2a335f;
    margin-top: 60px;
    margin-bottom: 5px;
}
.money{
    margin-left: 25px;
    color: white;
    font-weight: 1000;
    font-size: 20px;
    background: linear-gradient(to right, white, #00C4CC);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Poppins', sans-serif;

}
.bottomcart{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#buyoption{
    list-style: none;
    height: 20px;
    width: 90px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 30px;
    text-align: center;
    background-color: #1f3066;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.8s ease-in;
}
#buyoption:hover{
    background: linear-gradient(to right,#00C4CC, #7D2AE7);
    transform: scale(1.1);
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup{
    background: #121d3e;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 500px;
    border: 1px solid #00C4CC;
}
.pophead{
    color: white;
}
.poppara{
    font-size: 25px;
    color: white;
    font-weight: 1000;
}
#informationoofproduct{
    color:#8E9AAF;
    font-size: 20px;
    font-weight: 1000;
}
#greeting{
    color: #8E9AAF;
    font-weight: 1000;
}
#closebutton{
    height: 50px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 15px;
    background: linear-gradient(to right,#00C4CC, #7D2AE7);
    transition: 0.8s ease-in;
    border: 1px solid #00C4CC;
}
#closebutton:hover{
    transform: scale(1.2);
}
#Features{
    background-color: #111a36;
    height: 700px;
    padding-top: 1px;
}
.featurehead{
    margin-top: 150px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.topfeature{
    color: white;
}
.topparafeature{
    color: #8E9AAF;
    font-size: 25px;
}
.featurecontainer{
    display: flex;
    gap: 40px;
    margin-left: 160px;
     justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 0;
}
.featurecontainer div{
    margin-top: 30px;
    height: 250px;
    width: 210px;
    background-color: #19254e;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    transition: 0.8s ease;
}
.featurecontainer div:hover{
    transform: scale(1.1);
    box-shadow:
    0 0 10px #00C4CC,
    0 0 20px #7D2AE7,
    0 0 40px #7D2AE7;
}
.GP h2{
    margin-top: 20px;
    color: white;   
}
.GP p{
    color: #8E9AAF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:500;
}
.FP h2{
    margin-top: 20px;
    color: white;   
}
.FP p{
    color: #8E9AAF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:500;
}
.RK h2{
    margin-top: 20px;
    color: white;  
}
.RK p{
    color: #8E9AAF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:500;
}
.LBL h2{
    margin-top: 20px;
    color: white; 
}
.LBL p{
    color: #8E9AAF;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:500;
}
#addressanddetails{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    /* padding-left:500px;
    padding-top: 100px; */

}
.address{
    background: #16224a;;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    height: 300px;
    border: 2px solid #00C4CC;
    align-items: center;
    text-align: center;
     border-radius: 20px;
}
.address h1{
    color: #ffffff; ;
}
#labelcontent{
    color: #cbd5e1;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    }
#name{
    height: 25px;
    width: 230px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    background: #1e2f5c;
    color: white;
    border: 1px solid #00C4CC;
}
#mobile{
    height: 25px;
    width: 230px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    background: #1e2f5c;
    color: white;
    border: 1px solid #00C4CC;
}
#address{
    height: 45px;
    width: 220px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background: #1e2f5c;
    color: white;
    border: 1px solid #00C4CC;
    resize: none;
}
.cancelbutton{
    height: 20px;
    width: 100px;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 10px;
    color: whitesmoke;
    background: #1e2f5c;
    border: 1px solid #00C4CC;
    text-align: center;
    align-items: center;
}
.cancelbutton:hover{
    box-shadow:
    0 0 10px #00C4CC,
    0 0 20px #7D2AE7,
    0 0 40px #7D2AE7;
}
.confirmbutton{
    height: 20px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    color: whitesmoke;
    background: #1e2f5c;
    border: 1px solid #00C4CC;
    text-align: center;
    align-items: center;
}
.confirmbutton:hover{
    box-shadow:
    0 0 10px #00C4CC,
    0 0 20px #7D2AE7,
    0 0 40px #7D2AE7;
}